
.icon-back:before { content: '\e800'; } /* '' */
.icon-trash-1:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */